<html>
	<head>

		<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/css/socialicious.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/monokai.css">
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
		<link href="/blog/rss.xml" rel="alternate" type="application/rss+xml" title="{{site.blog_title}}" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{page.title}} - {{ site.blog_title }}</title>
		<script type="text/javascript" src='/js/highlight.pack.js'></script>
		<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
		<script>
      function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng({{page.longitude}}, {{page.lattitude}}),
          zoom: 15,          
          mapTypeControl: true,
    		mapTypeControlOptions: {
      		style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
    		},
    		zoomControl: true,
		    zoomControlOptions: {
		      style: google.maps.ZoomControlStyle.SMALL
		    }
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var marker = new google.maps.Marker({
  					position: new google.maps.LatLng({{page.longitude}}, {{page.lattitude}}),
  					map: map,
  					icon:  '/images/marker.png'
						});
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
	</head>
	<body>
		<div id='layout'>
			{% include header.html %}


			<div style='clear: both'></div>
		</div>
		<div id='content'>
			
			<div id='side-bar'>
				<div id='user'>
					<img id="user-pic" src="{{site.author_img_name_path}}" />
					<div id='user-name'>{{site.first_name}} {{site.last_name}}</div>
				</div>
				<div id='date'>
					{{ page.date | date: "%B %d, %Y"}}
				</div>
				<br>
				<br>
				<div id='date'>
					{{site.aboutme}}
				</div>
				<div id='tags'>
					{% for tag in page.tags %}
						<div> <span class='tag {{tag | downcase }}'>{{tag}}</span> </div>
					{% endfor %}
				</div>
				<div id="map-canvas">
				</div>
				<div id = 'briefroute'>
					<h3>Route</h3>
					<h4>{{page.route}}</h4>
				</div>
			</div>
			<div id='page'>
				<h1 id='page-title'>{{page.title}}</h1>
				{{content}}
				
				
				<div>
					{% include comment.html %}
				</div>
			</div>
			
			<div style='clear:both'></div>
		</div>
		<div id='footer'>
			{{site.full_name}} - {{site.copyright_year}}
		</div>
	</div>
	{% include googleana.html %}
</body>
</html>